@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Montserrat, sans-serif;
}

.font-h1 {
  font-family: Playfair;
}

.gradient {
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 0.1) 0px,
      transparent 35%
    ),
    radial-gradient(at 10% 29%, hsla(356, 96%, 67%, 0.1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 0.2) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 0.4) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 0.4) 0px, transparent 50%);
  opacity: 1;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.white-icon {
  filter: brightness(0) invert(1);
}
